<md-select ng-model='numberFilter.filter.type' ng-init='numberFilter.filter.type = 0' ng-change="selectionChanged()">
    <md-option ng-value='{{ 0 }}'> All </md-option>
    <md-option ng-value='{{ 1 }}'> Equals </md-option>
    <md-option ng-value='{{ 2 }}'> Less than </md-option>
    <md-option ng-value='{{ 3 }}'> Greater than </md-option>
    <md-option ng-value='{{ 4 }}'> Between </md-option>
</md-select>    
<md-input-container ng-hide='numberFilter.filter.type === 0 || numberFilter.filter.type === 4' flex>
    <input type='number'
           ng-model='numberFilter.filter.selectedValue' ng-min='option.settings.min' ng-max='option.settings.max'           
           ng-required='numberFilter.filter.type > 0 && numberFilter.filter.type < 4' />
    <div class='hints' ng-if="hints">{{ hints }}</div>
</md-input-container>
<div layout='row' flex ng-show='numberFilter.filter.type === 4'>
    <md-input-container flex>
        <input type='number'
               ng-model='numberFilter.filter.from' ng-min='option.settings.min' ng-max='option.settings.max'               
               ng-required='numberFilter.filter.type === 4' />
    </md-input-container>
    <md-input-container flex>
        <input type='number'
               ng-model='numberFilter.filter.to' ng-min='numberFilter.filter.from + 1 || option.settings.min' ng-max='option.settings.max'               
               ng-required='numberFilter.filter.type === 4' />
    </md-input-container>
</div>
